<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </link>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="./styles/style.css">
    <title>DBDStore</title>
</head>

<body>
    <div class="divHome">
        <div>
            <h1>DBDStore</h1>
        </div>
        <div class="jumbotron">
            <a href="/sesioncerrada">Cerrar Sesión</a>
        </div>
        <div class="jumbotron">
            <a href="/datos-personales"><%= username %></a>
            <img src="<%= avatar %>" height="44vh" width="44vw">
        </div>
        <% if (carrito.length > 0) { %>
        <div class="jumbotron">
            <a href="/carrito">Ver Carrito</a>
        </div>
        <% } %>
        <% if (admin) { %>
        <div class="jumbotron">
            <%- include('./nuevoProducto.ejs') %> 
        </div>
        <% } %>
        <div class="jumbotron">
            <%- include('./prod.ejs')-%>
        </div>
        <div class="jumbotron">
            <%- include('./chat.ejs')-%>
        </div>
        <div id="mensajes"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="main.js"></script>

</body>

</html>






